 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans+Arabic:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

 @font-face {
   font-family: 'aslamfont';
   src: url(./AslamAslam.ttf);
 }

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }


 body {
   background-color: #49382d;
   margin: 0;
   padding: 0;
   min-height: 100vh;
   font-family: Arial, sans-serif;
 }

 .box-container {
   position: relative;
   width: 800px;
   height: 500px;
   margin: auto;
   margin-top: 20px;
   box-shadow: rgba(253, 173, 1, 0.45) 0px 25px 20px -20px;
 }

 .box {
   position: absolute;
   inset: 0;
   background: #FFE484;
   border-radius: 10px;
   z-index: 1;
   color: white;
   padding: 20px;
   box-sizing: border-box;
   animation-name: changecolor;
   animation-duration: 5s;
   animation-timing-function: ease;
   animation-iteration-count: infinite;
 }

 .logo img {
   width: 10%;
 }

 @keyframes changecolor {
   0% {
     background-color: #FFE484;
   }

   70% {
     background-color: #FFD54F;
   }

   100% {
     background-color: #FFE484;
   }
 }

 .slider {
   width: 100%;
   max-width: 600px;
   height: 200px;
   margin: 30px auto;
   overflow: hidden;
   border-radius: 15px;
   position: relative;
 }

 .slides {
   display: flex;
   width: 300%;
   height: 100%;
   animation: slide 6s infinite;
 }

 .slide {
   width: 100%;
   flex-shrink: 0;
   height: 100%;
   position: relative;
 }

 .caption {
   position: absolute;
   left: 30px;
   color: white;
   padding: 10px 15px;
   border-radius: 5px;
   font-size: 18px;
 }

 .caption .typingone {
   font-size: 50px;
   color: #7811F7;
   margin-top: 15px;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   word-spacing: 10px;
   font-weight: 600;
 }

 .caption .urdutyping {
   font-size: 45px;
   color: #7811F7;
   margin-top: 15px;
   text-align: center;
   font-family: aslamfont;
   word-spacing: 5px;

 }

 @keyframes slide {
   0% {
     transform: translateX(0%);
   }

   45% {
     transform: translateX(0%);
   }

   50% {
     transform: translateX(-100%);
   }

   95% {
     transform: translateX(-100%);
   }

   100% {
     transform: translateX(0%);
   }
 }


 .box span {
   color: #780000;
   font-weight: 700;
   font-size: 70px;
 }



 .box .img {
   position: absolute;
   top: 50%;
   border-radius: 50%;
   overflow: hidden;
 }

 .box .img img {
   width: 100%;
   height: 100%;
   object-fit: cover;
 }

 .box-border {
   animation: rotate 4s linear infinite;
 }

 .namecontainer {
   position: relative;
   padding: 15px 15px;
   border-radius: 15px;
   background-color: #7ecb02;
   color: white;
   overflow: hidden;
   animation: slideIn 2s ease forwards;
 }

 .namecontainer::before {
   content: "";
   position: absolute;
   top: -50%;
   left: -50%;
   width: 200%;
   height: 200%;
   background: conic-gradient(#00c3ff, #4d0196, #00c3ff);
   animation: rotate 4s linear infinite;
 }

 .namecontainer::after {
   content: "";
   position: absolute;
   top: 5px;
   left: 5px;
   right: 5px;
   bottom: 5px;
   background: #8a5000;
   border-radius: 10px;
   z-index: 1;
 }

 .name {
   position: relative;
   z-index: 2;
   text-align: center;
 }

 .name p {
   margin: 5px 0;
   font-family: "Josefin Sans", sans-serif;
   font-size: 25px;
   font-weight: 500;
 }

 @keyframes rotate {
   0% {
     transform: rotate(0deg);
   }

   100% {
     transform: rotate(360deg);
   }
 }

 @keyframes slideIn {
   0% {
     transform: translateX(100%);
     opacity: 0;
   }

   100% {
     transform: translateX(0);
     opacity: 1;
   }
 }




 .main-page {
   width: 100%;
   padding: 20px;
 }

 .work-page {
   display: flex;
   flex-direction: column;
   gap: 20px;
 }

 .container {
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
   justify-content: center;
 }

 .content-page {
   flex: 1 1 calc(33.33% - 20px);
   max-width: 400px;
   background-color: #323946;
   border: 2px solid #7cf03d;
   border-radius: 10px;
   text-align: center;
   padding: 20px;
   transition: all 0.3s ease;
 }


 .content-page:hover {
   background-color: #7cf03d;
   transform: scale(1.05);
 }

 .chapter h4 {
   font-size: 18px;
   color: #fff;
 }

 .chapter span {
   color: darkorange;
   text-decoration: underline;
 }

 .chapter h1 {
   font-size: 20px;
   color: darkorange;
   margin: 10px 0;
   font-family: 'aslamfont';
 }

 .chapter button {
   background: #FFF5D1;
   border: 1px solid black;
   border-radius: 10px;
   padding: 5px 10px;
 }

 .chapter button a {
   text-decoration: none;
   color: black;
   font-family: 'Poppins', sans-serif;
 }

 .chapter button a:hover {
   color: #BB2D3B;
 }

 @media (max-width: 1024px) {
   .content-page {
     flex: 1 1 calc(50% - 20px);
   }
 }

 @media (max-width: 768px) {
   .content-page {
     flex: 1 1 100%;
   }

     .namecontainer {
    padding: 12px;
    border-radius: 12px;
  }
  .name p {
    font-size: 20px;
  }
 }

 @media (max-width: 576px) {
   .content-page {
     flex: 1 1 100%;
   }

    .box-container {
   position: relative;
   width: 340px;
   height: 220px;
   margin: auto;
   margin-top: 20px;
   box-shadow: rgba(253, 173, 1, 0.45) 0px 25px 20px -20px;
 }

   .box {
     height: 220px;
     position: absolute;
     inset: 0;
     background: #FFE484;
     border-radius: 10px;
     z-index: 1;
     padding: 10px;
     color: white;
     box-sizing: border-box;
     animation-name: changecolor;
     animation-duration: 5s;
     animation-timing-function: ease;
     animation-iteration-count: infinite;
   }

   .caption {
     position: absolute;
     left: 1px;
     color: white;
     padding: px 0;
     border-radius: 5px;
   }

   .caption .typingone {
     font-size: 27px;
     text-decoration: underline;
     color: #7811F7;
     margin-top: 5px;
     text-align: center;

   }

   .caption .urdutyping {
     font-size: 22px;
     /* text-decoration: underline; */
     color: #7811F7;
     margin-top: 5px;
     /* margin-top: px; */
     text-align: center;

   }

   .content-page {
     padding: 20px;
     transition: all 0.3s ease;
   }


   .content-page:hover {
     background-color: #7cf03d;
     transform: scale(1.05);
   }


   .box span {
     color: #780000;
     font-weight: 700;
     font-size: 30px;
   }



   .slider {
     width: 100%;
     max-width: 600px;
     height: 50px;
     /* margin: auto; */
     margin-top: 5px;
     overflow: hidden;
     border-radius: 15px;
     position: relative;
   }

   .box .logo {
     width: 100px;
     max-width: 100%;
     height: auto;
     border-radius: 50%;
   }

   .box img {
     width: 50%;
   }

     .namecontainer {
    padding: 5px;
    border-radius: 10px;
  }
  .name p {
    font-size: 16px;
  }

 }

 

 @media (max-width: 480px) {

  .namecontainer {
    padding: 5px;
    border-radius: 10px;
  }
  .name p {
    font-size: 11px;
  }

  
}

/* Animation keyframes */
@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes slideIn {
  0% { transform: translateX(100%); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}
